
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
          <div class="card p-4">
            <div class="form-group">
                <label for="fname">First Name :</label>
                <input type="text" class="form-control" id="fname" #fname>
            </div>
            <div class="form-group">
                <label for="lname">Last Name :</label>
                <input type="text" class="form-control" id="lname" #lname>
            </div>
            <div class="form-group">
                <label for="email">Email :</label>
                <input type="text" class="form-control" id="email" #email>
            </div>
            <div class="form-group">
                <label for="contact">Contact :</label>
                <input type="text" class="form-control" id="contact" #contact>
            </div>
            <div class="form-group">
               <button class="btn btn-info btn-sm btn-block"
               (click)="onStdAdd()">Add Student</button>
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <table class="table table-dark" 
            *ngIf="AllStdArr.length > 0 ; else nostd">
                 <thead>
                    <tr>
                        <th>Sr no.</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Contact</th>
                    </tr>
                 </thead>
                <tbody>
                    <tr
                *ngFor="let std of AllStdArr ; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{std.fname}}</td>
                    <td>{{std.lname}}</td>
                    <td>{{std.email}}</td>
                    <td>{{std.contact}}</td>
                </tr>
                </tbody>
            </table>
            <ng-template #nostd>
                <p class="alert alert-danger">
                    No student info is addedd yet!!!
                </p>
            </ng-template>
        </div>
    </div>
</div>